{
  "singleQuote": true,
  "tabWidth": 4,
  "endOfLine": "crlf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yml",
        "*.yaml",
        "*.md",
        "*.html",
        "*.css",
        "*.scss",
        "*.less"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
