@use 'variables' as var;

:host {
    margin-top: auto;
}

p {
    margin: 0;
}

mat-toolbar {
    padding: var.$spacer var.$spacer * 2;
}

a mat-icon {
    height: var.$icon-height;
    color: var.$text-color;
}