:host {
    margin-top: auto;
}

p {
    margin: 0;
}

mat-toolbar {
    padding: var(--nev-spacer) calc(var(--nev-spacer) * 2);
}

a mat-icon {
    height: var(--nev-icon-height);
    color: var(--nev-text-color);
}