<mat-toolbar class="row">
    <button mat-icon-button (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{ 'website.title' | translate }}</span>

    <span class="spacer"></span>

    <div class="row center-content">
        <button mat-icon-button (click)="toggleTheme()" [disabled]="(themeLoading$ | async) === false">
            <mat-icon>{{ (isDark$ | async) === false ? 'dark_mode' : 'light_mode' }}</mat-icon>
        </button>

        <mat-form-field appearance="outline" class="no-bottom no-border" style="width: 100px;">
            <mat-select (selectionChange)="swapLanguage($event.value)" [value]="currentLanguage">
                @for(language of languages; track language) {
                    <mat-option [value]="language">{{ language }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</mat-toolbar>
<nev-sidenav></nev-sidenav>