@use '@angular/material' as mat;
$fa-font-path: '../node_modules/font-awesome/fonts';
@import 'font-awesome/scss/font-awesome.scss';

@include mat.core();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-form-field {
  &.no-bottom {
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }

  &.no-border {
    .mdc-notched-outline__leading, 
    .mdc-notched-outline__trailing {
        border: none !important;
    }
  }
}
