.grow {
    display: flex;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: $row-spacer;
}

.column {
    display: flex;
    flex-direction: column;
    gap: $column-spacer;
}

.center-content {
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    padding: $content-padding;
}

.spacer {
    flex: 1;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}