.flex {
    display: flex;
    flex: 1;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--nev-row-spacer);
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--nev-column-spacer);
}

.no-gap {
    gap: 0;
}

.center-content {
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    padding: var(--nev-content-padding);
    max-width: 800px;
    margin: 0 auto;
}

.spacer {
    display: flex;
    flex: 1;
}

.fit-content {
    width: fit-content;
    height: fit-content;
}