.grow {
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: $row-spacer;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.center-content {
    align-items: center;
    justify-content: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    height: 100%;
    width: 100%;
}

.content {
    padding: $content-padding;
}