:host {
    position: fixed;
    width: 200px;
    max-width: 200px;
    text-align: right;

    mat-list {
      padding: 0;
      position: relative;
      left: -220px;
      border-right: 1px solid var(--nev-accent-color);
    }
}