<div class="section">
    <h1 class="primary">{{ 'home.title' | translate }}</h1>
    <p [innerHTML]="'home.sections.main.paragraphs.introduction' | translate"></p>
</div>
    
<div class="section">
    <h3 class="primary">{{ 'home.sections.source.title' | translate }}</h3>
    <p [innerHTML]="'home.sections.source.paragraphs.contents' | translate"></p>
    <div class="">
        <a mat-button [href]="websiteRepoUrl" target="_blank">
            <mat-icon fontSet="fontawesome" fontIcon="fa-github"></mat-icon>
            <span>{{ 'website.title' | translate }}</span>
        </a>
    </div>
</div>
